/* Define light theme variables */
:root {
    --primary-color: #eeedf3;
    --primary-dark-color: rgba(27, 26, 26, 0.712);
    --secondry-color: #4e46b4;
    --green-color: #39bd3f;
    --red-color: #bb0f0f;
    --yellow-color: #e2e042;
    --grey-color: gray;
    --tw-ring-shadow: white !important;
    --tw-ring-color: var(--primary-color) !important;
}

/* Dark theme variables */
.dark {
    --primary-color: #1a1a1a; /* Example: Change primary color for dark mode */
    --primary-dark-color: rgba(255, 255, 255, 0.8); /* Adjust dark mode primary color */
    --secondry-color: #2c2c2c;
    --green-color: #1e8f38;
    --red-color: #ff4747;
    --yellow-color: #d1c12f;
    --grey-color: #666666;
}

.pr-color {
	color: var(--primary-color);
}

.pr-bg-color {
	background-color: var(--primary-color);
}

.pr-dark-bg-color {
	background-color: var(--primary-dark-color);
}

.pr-border-color {
	border-color: var(--primary-color);
}

.sc-color {
	color: var(--secondry-color);
}

.sc-bg-color {
	background-color: var(--secondry-color);
}

.green-color {
	color: var(--green-color);
}

.green-bg-color {
	background-color: var(--green-color);
}

.red-color {
	color: var(--red-color);
}

.red-bg-color {
	background-color: var(--red-color);
}

.yellow-color {
	color: var(--yellow-color);
}

.yellow-bg-color {
	background-color: var(--yellow-color);
}

.grey-color {
	color: var(--grey-color);
}

.grey-bg-color {
	background-color: var(--grey-color);
}
